{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if admin.hasAccess('create') and admin.hasRoute('create') %}
{#    {% if objects[ObjectType].allow_push_updated is not empty and objects[ObjectType].allow_push_updated != "0"  %}#}
        <li>
            <a class="sonata-action-element" href="{{ admin.generateUrl('create', {"ObjectType" : ObjectType | default(app.request.get('ObjectType'))}) }}">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                {{ 'link_action_create'|trans({}, 'SonataAdminBundle') }}
            </a>
        </li>
{#    {% endif %}#}
{% endif %}
