{#

 *  This file is part of SplashSync Project.
 *
 *  Copyright (C) 2015-2018 Splash Sync  <www.splashsync.com>
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *
 *  For the full copyright and license information, please view the LICENSE
 *  file that was distributed with this source code.

#}

{% set allowed = admin.objectDefinition.allow_push_deleted|default(false) %}

{% if allowed and allowed != "0"  %}
    <a class="sonata-action-element" href="{{ admin.generateObjectUrl('delete', object) }}">
        <i class="fa fa-trash" aria-hidden="true"></i>
        {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
    </a>
{% endif %}
