{#

 *  This file is part of SplashSync Project.
 *
 *  Copyright (C) 2015-2018 Splash Sync  <www.splashsync.com>
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *
 *  For the full copyright and license information, please view the LICENSE
 *  file that was distributed with this source code.

#}

{% set allowed = admin.objectDefinition().allow_push_updated|default(false) %}

{% if allowed and allowed != "0"  %}
    <a class="sonata-action-element" href="{{ admin.generateUrl('edit', {
        "id": object.id|default(0),
        "ObjectType":ObjectType|default(admin.getObjectType())
    } ) }}">
        <i class="fa fa-edit" aria-hidden="true"></i>
        {{ 'link_action_edit'|trans({}, 'SonataAdminBundle') }}
    </a>
    &nbsp;
{% endif %}