


                    
<div class="box box-primary">
    
    <div class="box-header">
        <h4 class="box-title">
            <i class="fa fa-cogs"></i>
            Server Configuration
        </h4>
    </div>
    
    <div class="box-body">
        <div class="sonata-ba-collapsed-fields" style="padding-left: 15px; padding-right: 15px;">
            {{ form(form) }}
        </div>
    </div>
</div>


