
<div class="box box-primary">
    <div class="box-body">
        <div class="info-box">
            {% if connector.selftest != true  %}
                {% include connector.newTemplate        ignore missing with { "connector" : connector, "configuration" : configuration } only %}
            {% elseif connector.ping != true or connector.connect != true  %}
                {% include connector.offlineTemplate    ignore missing with { "connector" : connector, "configuration" : configuration } only %}
            {% else %}
                {% include connector.connectedTemplate  ignore missing with { "connector" : connector, "configuration" : configuration } only %}
            {% endif %}
        </div>
    </div>
</div>


