{% import   "SplashBundle:macros:macros.html.twig"   as  Macros %}


<div class="col-lg-5 col-md-4 col-sm-12">

                <div class="bs-docs-section clearfix">
                    {{ Macros.TestResult ( Result,    'Ping of the Connector', Log ) }}
{#                    {{ Macros.Items ( widgets,    'Widgets' ) }}#}
                </div>

            </div>