{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends "@SonataAdmin/standard_layout.html.twig" %}

{%- block actions -%}{%- endblock -%}

{% block title %}
    {{ profile.title | trans({}, profile.domain ) | default('No Connector Title Defined') }}
    {#
        The list template can be used in nested mode,
        so we define the title corresponding to the parent's admin.
    #}
    {% if admin.isChild and admin.parent.subject %}
        {{ "title_edit"|trans({'%name%': admin.parent.toString(admin.parent.subject)|u.truncate(15) }, 'SonataAdminBundle') }}
    {% endif %}
{% endblock %}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{% block list_table %}{% endblock %}

{% block list_filters_actions %}{% endblock %}

{% block list_filters %}
    
    <div class="col-xs-12 col-md-6">
        
        <twig:SplashAdmin:Server:Profile    :connector="connector" />
        <twig:SplashAdmin:Server:Config     :connector="connector" />
        <twig:SplashAdmin:Server:Infos      :connector="connector" />
        <twig:SplashAdmin:Server:Logs />

    </div>
    
    <div class="col-xs-12 col-md-6">

        <twig:SplashAdmin:Objects:List      :connector="connector" />
        <twig:SplashAdmin:Server:SelfTests  :connector="connector" />
        <twig:SplashAdmin:Server:Ping       :connector="connector" />
        <twig:SplashAdmin:Server:Connect    :connector="connector" />
    </div>
    
{% endblock %}
