{#

 *  This file is part of SplashSync Project.
 *
 *  Copyright (C) 2015-2018 Splash Sync  <www.splashsync.com>
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *
 *  For the full copyright and license information, please view the LICENSE
 *  file that was distributed with this source code.

#}

{#
    Rendering of Splash Object Id From Fields 
#}
{% block object_id_widget %}
    <div class="input-group col-xs-12"> 
        <span class="input-group-addon label-primary">
            <i class="fa fa-tag">&nbsp;{{ form.children.ObjectType.vars.data }}</i>
        </span> 
        {{ form_widget(form.children.ObjectId) }}
    </div>    
    {{ form_widget(form.children.ObjectType) }}
{% endblock %}